
{% extends 'base.html' %}
{% load extras %}
{% block body_block %}
      <form class="form-area" action="" method="post">
      	{% csrf_token %}
        <label >Email</label>
        {{ form.email |addcls:'required form-control' }}
        {% if form.email.errors %}
        <br/>
        <div class="alert alert-danger" role="alert">
         {{ form.email.errors }}
        </div>
        {% endif %}
        <br/>
        <button class="btn btn-lrg btn-primary" name="submit" type="submit">Sign in</button>
      </form>
{% endblock %}